<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <title>Connexion</title>
</head>
<body>


<div class="sidenav">
         <div class="login-main-text">
            <h2>Acme<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form id="login-form" class="form" action="" method="post">
                   {% csrf_token %}
                  <div class="form-group">
                     <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                     <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <labelfor="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                     <input type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black">Connexion</button>
               </form>
            </div>
         </div>
      </div>
</body>
</html>