{% extends 'base.html' %}

{% block content %}
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Télephone</th>
      </tr>
    </thead>
    <tbody>
    {% for employee in employee_list %}
      <tr>
        <th scope="row"><a href="{% url 'UpdateEmployee' employee.employee.pk %}" class="text-black">{{ employee.employee.id }}</a></th>
        <td> {{ employee.employee.user.id }}</td>
        <td> {{ employee.employee.user.last_name }}</td>
        <td>{{ employee.employee.get_adresse_complete_str }}</td>
        <td>{{ employee.employee.no_tel }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    {% if client_list.has_previous %}
    <a href=" {% url 'employees' %}?page= {{ client_list.previous_page_number }}">Précédente</a>
    {% endif %}
    <span class="current">
      Page {{ employee_list.number }} sur {{ employee_list.paginator.num_pages }}
    </span>
    {% if client_list.has_next %}
    <a href=" {% url 'employees' %}?page= {{ client_list.next_page_number }}">Suivante</a>
    {% endif %}
  </div>
  <div class="text-right">
    <a href=" {% url 'create_employee' %}" class="btn btn-info">Ajouter un employée</a>
  </div>
</div>

{% endblock %}